# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# Enable Synology reverse proxy
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.178.10

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
group: !include groups.yaml
input_boolean: !include inputs.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
sensor: !include sensor.yaml
template: !include templates.yaml
waste_collection_schedule: !include waste_schedule.yaml
